
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

.beginning{
    padding-top: 70px;
}

body {
    animation: transitionIn 1.75s;
}

@keyframes transitionIn {
    from { 
        opacity: 0;
        transform: rotateX(-10deg);
    }
    
    to {
        opacity: 1;
        transform: rotateX(-10deg);
    }
    
}


.container a {
    background-color: aliceblue;
    transition: ease-in 0.6s;
  }
.container a:hover {
	opacity: 60%;
	background-color: aliceblue;
    transform: scale(1.006)
}
.motto{
    font-size: 40px;
    border-radius: 10px 10px 25px 20px;
    background: #323436;
    padding: 20px;
    width: 400px;
    height: 100px;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    

}

#destination{
    padding-top: 0.5%;
    padding-left: 1.5%;
    font-size: 40px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    text-align: center;

}

.navbar .dropdown-menu {
    transition: height 0.5s ease;
    height: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  
  .navbar .dropdown-menu.open {
    height: 130px; 
  }

.vertical-rl {
    writing-mode: vertical-rl;
    padding-top: 100px;
    padding-left: 1%;
    display: inline-block;
    vertical-align: bottom;
}

.youtube {
    text-align: center;
    padding: 40px;
    border-radius: 15px;
}

.row img{
	width: 382px ; /*WIDTH 90% HEIGHT 95%*/
	height: 500px ;
    border-radius: 15px;
}

	 
.row::after {
	content: "";
	clear: both;
	display: table;
}
.row {
	display: flex;
    padding-top: 5%;
}
	  
.column {
	flex: 33%;
	padding: 5px;
    float: left;
	width: 100%;
    position: relative;
		
}

.western {
    position: relative;
    display:table;
    width: 500px;
    height: 100%;
    float: left;
    display: flex;
    padding-top: 3%;

}

.western img {
    width: 1260px;
    height: 100%;
    border-radius: 10px;
    overflow: clip;
    
}

.end {
    margin-bottom: 800px;
}


.footer{
    padding: 5%
}


/*------ contact -----*/

.contact-left{
    flex-basis: 35%;
}
.contact-right{
        flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-rightform{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #cdb7b7;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    color: white;
}
.copyright i{
    color: #de1850;
}
#msg{
    color: #61b752;
    margin-top: -40;
    display: block;
}
#map {
    height:200px;
    width:350px;
}